/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
@font-face {
    font-family: 'sans';
    src: url('../font/sans.eot');
    src: url('../font/sans.eot?#iefix') format('embedded-opentype'),
         url('../font/sans.woff') format('woff'),
         url('../font/sans.ttf') format('truetype'),
         url('../font/sans.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	background: transparent url(../img/bg.gif);
}

body {
	font-family: 'sans', arial, helvetica, sans-serif;
	color: #666;
}

header,
footer,
#muah {
	position: fixed;
	width: 100%;
}

header {
	top: 0;
	text-align: center;
	background: transparent url(../img/bg-corner-top-left.png) no-repeat left top;
	z-index: 999;
}

header hgroup {
	background: transparent url(../img/bg-corner-top-right.png) no-repeat right top;
}

header h1 img {
	max-width: 100%;
}

header h2 {
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	text-shadow: 0 1px #FFF;
	margin: 0 94px;
	padding: 48px 0 0;
	background: transparent url(../img/bg-border-top.gif) repeat-x;
}

header h2 span {
	white-space: nowrap;
}

header ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}

header ul li {
	list-style-type: none;
	float: left;
	position: relative;
	overflow: hidden;
	padding: 1px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

header ul li a,
header ul li a:visited {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #6AD9D1;
	padding: 16px 20px 14px;
	text-shadow: 0 1px #FFF;
	background-color: rgba(255, 255, 255, 0.55);
	border-bottom: 1px solid rgba(255, 255, 255, 0.55);
	-webkit-box-shadow: inset 0 5px 0 rgba(255, 255, 255, 0.55);
	-moz-box-shadow: inset 0 5px 0 rgba(255, 255, 255, 0.55);
	box-shadow: inset 0 5px 0 rgba(255, 255, 255, 0.55);
}

header ul li.active a {
	background-color: #6AD9D1;
	color: #FFF;
	text-shadow: 0 1px rgba(0,0,0,0.25);
}

#container {
	background: transparent url(../img/bg-border-left.gif) repeat-y left top;
}

#container-inner {
	background: transparent url(../img/bg-border-right.gif) repeat-y right top;
}

#main {
	min-height: 3000px;
}

footer {
	background: transparent url(../img/bg-corner-bottom-left.png) no-repeat left bottom;
	bottom: 0;
}

#footer-inner {
	background: transparent url(../img/bg-corner-bottom-right.png) no-repeat right bottom;
	height: 106px;
}

#muah {
	bottom: 0;
	z-index: -1;
}

#muah img {
	width: 100%;
}

/* Top Corner Effect */
header ul li.active a:after,
header ul li.active a:before {
	background: #FFF;
	content: '';
	height: 20px;
	position: absolute;
	top: -10px;
	width: 20px;
	z-index: 10;
	-webkit-box-shadow: 0 2px 6px -4px hsla(0,0%,0%,.75);
	-moz-box-shadow: 0 2px 6px -4px hsla(0,0%,0%,.75);
	box-shadow: 0 2px 6px -4px hsla(0,0%,0%,.75);
}

header ul li.active a:after {
	left: -15px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

header ul li.active a:before {
	right: -15px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Bottom Corner Effect */
header ul li.active a span:after,
header ul li.active a span:before {
	background: #FFF;
	content: '';
	height: 20px;
	position: absolute;
	bottom: -10px;
	width: 20px;
	-webkit-box-shadow: 0 2px 6px -4px hsla(0,0%,0%,.75);
	-moz-box-shadow: 0 2px 6px -4px hsla(0,0%,0%,.75);
	box-shadow: 0 2px 6px -4px hsla(0,0%,0%,.75);
}

header ul li.active a span:after {
	left: -15px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

header ul li.active a span:before {
	right: -15px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	header,
	header hgroup,
	footer,
	#footer-inner {
		background-size: 47px 53px;
	}
	header h2 {
		background-size: 5px 8px;
		margin: 0 47px;
		padding: 24px 6px 0;
		font-size: 10px;
		line-height: 12px;
	}
	#container,
	#container-inner {
		background-size: 8px 5px;
	}
}

@media screen and (max-width: 450px) {
	header,
	header hgroup,
	footer,
	#footer-inner {
		background-size: 47px 53px;
	}
	header h2 {
		background-size: 5px 8px;
		margin: 0 47px;
		padding: 24px 6px 0;
		font-size: 10px;
		line-height: 12px;
	}
	#container,
	#container-inner {
		background-size: 8px 5px;
	}
	header h2 {
		font-size: 11px;
		line-height: 13px;
	}
	header ul,
	header ul li {
		display: block;
		float: none;
	}
}

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
